<!DOCTYPE html>
<html>
<head>
    <title>Login and Registration</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <div class="register">
        <h1>Register</h1>
        <form class="" action="{% url 'loginreg:register' %}" method="post">
            {% csrf_token %}
            <p>First Name: <input type="text" name="first_name" value=""></p>
            <p>Last Name: <input type="text" name="last_name" value=""></p>
            <p>Email: <input type="text" name="email" value=""></p>
            <p>Password: <input type="Password" name="password" value=""></p>
            <p>Confirm Password: <input type="password" name="confirm_password" value=""></p>
            <input type="submit" name="" value="Register">
        </form>
    </div>
    <div class="login">
        <h1>Login</h1>

        <form class="" action="{% url 'loginreg:login' %}" method="post">
          {% csrf_token %}
        <p>Email: <input type="text" name="email" value=""></p>
        <p>Password: <input type="Password" name="password" value=""></p>
        <input type="submit" name="" value="Login">
        </form>

    </div>
